# Terraform
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Local .env files
.env
.env.*

# IDE/editor junk
.vscode/
.idea/
*.swp

# Mac & Linux
.DS_Store

# Logs
*.log
